.icon-size {
    width: 1.2rem;
    display: inline-block;
}

.container-wrap {
    height: 100%;
}

.wrap {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-20px);
}

.form-container {
    margin: auto;
    display: inline-block;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: .5rem;
    width: 500px;
}

.form-book {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}